.navbar{
    position: absolute;
    background-color: transparent;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 5vw;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
}

.humburger{
    position:absolute;    
    left: 90px;
    width: 50px;
}

.menu > h1{
    color: var(--primary-color);
    position:absolute;
    top: 70px;
    left: 50px;
}

.menuImage{
    max-width: 350px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(12px + 1vw);
    position: absolute;
    top: 100px;
    left: calc(100px + 3vw);
    list-style: none;    
}

.item{
    font-size: 20px;
    font-family: var(--font-mono);
    color: var(--primary-color);
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: url("../public/background-images/backgroundMountain.jpg");
    background-size:cover;   
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.pageContent{
    margin: calc(350px + 6vw) 55vw 0vw 18vw; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pageTitle{
    color: var(--primary-color);
}

.pageBody{
    color: var(--primary-color);
}

.pageLine{
    background-color: var(--secondary-color);
    width: 60%;
    height: 3px;
    border: none;
}

.buttonList{
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.pageButton{
    background-color: transparent;
    color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 5px;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    font-size: 10pt;    
}

.pageButton:hover{
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.pageArrow{
    position: fixed;
    bottom: 8vw;
    right: 8vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120px;
}

.pageArrow > a > span > img{
    width: 40px;
}

/* Inner Square */

/* Mobile */
@media (max-width: 600px) {
    .navbar{
        padding-right: 30px;
    }
    .pageArrow{ 
        right: 30px;
    }
    .pageContent{
        margin-top: 300px;
        margin-left:  30px;
        margin-right: 80px;         
    }
    .humburger{
        left: 30px;
    }    
    .menuImage{
        max-width: 250px;
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1000px) {
    .navbar{
        padding-right: 90px;
    }
    .pageArrow{ 
        right: 90px;
    }
    .pageContent{
        margin-left:  90px;
        margin-right: 220px;         
    }
    .menuImage{
        max-width: 300px;
    }
}